<p>
    
    <%= @event.title %>
  </p>
 
  <p>
    <%= @event.venue  %><br>
    
    
  </p>
  <p>
    <%= @event.date  %><br>
   
    
  </p>


  <p>
    <%= @event.time %><br>
   
    
  </p>
  <p>
    <%= @event.description  %><br>
   
    
  </p>
  <p>
    <%= @event.status  %><br>
   
    
  </p>
 
  